<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="container mt-4">
    <div class="row">
        {% for task in tasks %}
        <div class="col-md-4 mb-4">
            <div class="card shadow-sm border-0 rounded-3">
                <div class="card-body">

                    <h5 class="card-title">{{ task.title }}</h5>

                    <p class="card-text text-muted">{{ task.description }}</p>

                    <!-- Status -->
                    {% if task.status == "Completed" %}
                        <span class="badge bg-success">Completed</span>
                    {% elif task.status == "In Progress" %}
                        <span class="badge bg-primary">In Progress</span>
                    {% else %}
                        <span class="badge bg-secondary">Pending</span>
                    {% endif %}

                    <div class="d-flex justify-content-between mt-3">
                        <a href="{% url 'edit_task' task.id %}" class="btn btn-sm btn-outline-primary">Edit</a>
                        <a href="{% url 'delete_task' task.id %}" class="btn btn-sm btn-outline-danger">Delete</a>
                    </div>

                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
</body>
</html>